<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include("partials/header.ejs") %>

<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div style="
          background-color: #F8F8F9; padding-top: 20px;
          padding-bottom: 30px;
          " class="flex flex-col text-center w-full mb-20">
            <h2 style="font-family:-apple-system"  class="text-3xl text-indigo-500 tracking-widest font-medium title-font mb-1">FAQs
            </h2>
            <h1 style="font-family:-apple-system"  class="sm:text-3xl text-1xl font-medium title-font mb-4 text-gray-900">What are QR codes useful for?</h1>
            <p style="font-family:-apple-system"  class="lg:w-2/3 mx-auto leading-relaxed text-base">They are as useful as all the different types of content they can offer. In fact, in recent years, this type of code is becoming more widely accepted among all kinds of people. It's logical, since with just one scan you can access a variety of different information and even facilitate certain tasks such as connecting to a Wi-Fi network.</p>
          </div>
          <div class="flex flex-wrap">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 style="font-family:-apple-system"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">How many types of QR codes are there?</h2>
              <p class="leading-relaxed text-base mb-4">Many. There are as many types of the different kinds of content that may be associated with them. At QRfy, we offer you a tool to create a wide variety of them: Wi-Fi, website, vCard, PDF, images, videos, apps and menus. And all in the simplest way.</p>
              <a style="font-family:-apple-system"  class="text-indigo-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 style="font-family:-apple-system"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">How do you read a QR code?</h2>
              <p style="font-family:-apple-system"  class="leading-relaxed text-base mb-4"> Nowadays, there are many mobile devices that can read QR codes with the camera itself, by simply pointing the camera at the code to scan it. If this doesn't work, you may need to download an application designed to read QR codes. </p>
              <a style="font-family:-apple-system"  class="text-indigo-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 style="font-family:-apple-system"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">How can I generate my own QR code?</h2>
              <p style="font-family:-apple-system"  class="leading-relaxed text-base mb-4">There are different platforms and tools to create your own QR, but none like QRfy. With QRfy you not only lets you create custom QR codes, edit your code, and make an analytical monitoring As long as the maximum number of characters.
            </p>
              <a style="font-family:-apple-system"  class="text-indigo-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 style="font-family:-apple-system"  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Can the reading of a QR code fail?</h2>
              <p style="font-family:-apple-system"  class="leading-relaxed text-base mb-4">QR codes also have an error prevention system. Thanks to this system, up to 30% of the structure of the QR code can be damaged without affecting its ability to be read. If the damage is greater,You will be able to know the number of total scans.
            </p>
              <a style="font-family:-apple-system"  class="text-indigo-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <a href="/"> <button style="font-family:-apple-system"  class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">QRgen</button></a>
         
        </div>
      </section>
</body>
<%- include("partials/footer.ejs") %>

</html>